
html {
    cursor: url("glassdown.png"), auto;
    background-image: url("background.gif");
    background-size: cover;
}


.image {
    position: absolute;
    /*width: 5%;*/
    width: 8%;
}

.cickable-image {

}

.background-image {

}

.image:hover {
    transform: scale(1.05);
    opacity: 80%;
    transition: all .2s;
    cursor: url("glass.png"), auto;
}

.wrapper {
    display: flex;
    align-items: flex-start;
}


.textContainer {
    width: 30%;

}

.gameContainer {
    background-image: url("spaceBackground.png");
    background-size: auto;
    background-repeat: repeat-x;
    width: 80%;
    position: relative;
    margin-left: auto;
    margin-right: 8%;
    margin-top: 1%;
    width: 800px;
    height: 600px;
    /*border-radius: 80px;*/
    border: 15px outset rgb(146, 190, 223);
    background-color: rgb(11, 0, 58);
}


h1 {
    font-family: monospace;
    text-align: right;
    font-size: 400%;
    margin-bottom: 2%;
    color: rgb(76, 119, 156);
    text-shadow: 0px 5px 0px rgb(0, 0, 0);
}

.subheading {
    font-family: monospace;
    font-size: 20px;
    line-height: 30px;
    text-align: right;
    margin-top: 2%;
    color: rgb(0, 0, 0);
    text-shadow: 0px 3px 1px rgb(255, 255, 255);
}

.subheadingTwo {
    font-family: monospace;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    margin-top: 3%;
    color: rgb(0, 0, 0);
    text-shadow: 0px 3px 1px rgb(255, 255, 255);
}

/*game over*/
h2 {
    font-family: monospace;
    text-align: right;
    font-size: 400%;
    margin-bottom: -13%;
    color: rgb(0, 0, 0);
    text-shadow: 0px 3px 1px rgb(255, 255, 255);
}

.timerDisplay {
    font-family: monospace;
    text-align: right;
    font-size: 400%;
    margin-bottom: 6%;
    color: rgb(0, 0, 0);
    text-shadow: 0px 3px 1px rgb(255, 255, 255);
}

.start {
    font-family: monospace;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .5%;
        font-family: monospace;
        font-size: 16px;
        color: rgb(255, 255, 255);
        background-color: rgb(0, 0, 0);
        border: rgb(255, 255, 255);
        border-width: 4px;
        border-style: outset;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
        transition: all 0.5s;
        transform-origin: center;
    }
    .start:hover {
        transform: scale(1.2); /* Scales the button uniformly */
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        border: rgb(0, 0, 0);
        border-style: inset;
        border-width: 4px;
        transition: all 0.5s;
        cursor: url("glass.png"), auto;
    }

.refreshButton {
    font-family: monospace;
    font-size: 16px;
    color: rgb(255, 255, 255);
    display: block;
    margin-left: auto;
    margin-right: 0px;
    background-color: rgb(0, 0, 0);
    border: rgb(255, 255, 255);
    border-width: 4px;
    border-style: outset;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
    transition: all 0.5s;
    transform-origin: center;
}

.refreshButton:hover {
    transform: scale(1.2); /* Scales the button uniformly */
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: rgb(76, 119, 156);
    border-style: inset;
    border-width: 4px;
    transition: all 0.5s;
    cursor: url("glass.png"), auto;
}

@keyframes blink {

    0% { opacity: 1; }

    50% { opacity: 0; }

    100% { opacity: 1; }

}

/* Wrong Click - Blinking Red */
@keyframes blinkRed {
    0% { filter: brightness(1); }
    50% { filter: brightness(0.5) saturate(2) hue-rotate(0deg) sepia(1) saturate(10) hue-rotate(-50deg); }
    100% { filter: brightness(1); }
}

@keyframes blinkLose {
    0% { filter: brightness(1); transform: scale(1.2); opacity: 1;}
    50% { opacity: .75; filter: brightness(0.5) saturate(1) hue-rotate(0deg) sepia(1) saturate(10) hue-rotate(-50deg); transform: scale(2); }
    100% { filter: brightness(1); transform: scale(1.2); opacity: 1;}
}

@keyframes blinkLoseText {
    0% { filter: brightness(1); transform: scale(1); opacity: 1;}
    50% { opacity: .75; filter: brightness(0.5) saturate(1) hue-rotate(0deg) sepia(1) saturate(10) hue-rotate(-50deg); transform: scale(1.35); }
    100% { filter: brightness(1); transform: scale(1); opacity: 1;}
}

.blink-lose {
    animation: blinkLose 1s infinite;
    transform-origin: center;
}

.blink-lose-text {
    animation: blinkLoseText 1s infinite;
    transform-origin: center;
}

@keyframes growAndFade {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(2);
        opacity: 1;
        filter: saturate(2);
        }

    100% {
        transform: scale(0);
        opacity: 0;
    }
}

.grow-fade {
    animation: growAndFade 1s forwards !important;
}



/* Floating Reward Text */
.reward-text {
   
    font-weight: bold;
    color: rgb(161, 211, 255);
    /*background: rgba(0,0,0,0.7);*/
    padding: 5px 10px;
    position: absolute;
    font-family: monospace;
    font-size: 24px;
   
 

    text-shadow: 0px 3px 1px rgb(0, 0, 0);
}

@keyframes winJitter {
    0% { transform: translate(0, 0) rotate(0deg); }
    25% { transform: translate(-3px, 2px) rotate(-10deg); }
    50% { transform: translate(3px, -2px) rotate(4deg); }
    75% { transform: translate(-2px, 3px) rotate(-8deg); 
        scale: 1.2;
    }
    100% { transform: translate(0, 0) rotate(0deg); }
}

.dance {
    animation: winJitter 0.8s infinite;
    transform-origin: center;
}